@use "../../../../../global";


.ImportLocalDataView_modalBodyContainer{
  padding: global.$panel-padding;
  display: grid;
  grid-template-rows: auto global.$button-height;
  gap: global.$general-padding;
  height: calc(100% - 2*#{global.$panel-padding});


  .ImportLocalDataView_uploadRegion{
    width: 100%;
    border: dashed 1px global.$color-light-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &___filesPresent{
      padding: global.$general-padding 0;
      justify-content: initial;
    }

    .ImportLocalDataView_browse{
      border-bottom: solid 1px global.$color-green;
      cursor: pointer;
    }

    .ImportLocalDataView_fileContainer{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      div{
        display: none;
      }

    }
  }

}