@use "../../global";

.ProjectForm_container {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: global.$panel-padding;

	button {
		width: 20%;
	}
}

.ProjectForm_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-grow: 1;
	gap: global.$panel-padding;
}

.ProjectForm_formElementContainer {
	display: flex;
	flex-direction: column;
	gap: global.$general-padding;

	input {
		height: 3rem;
		font-size: 2rem;
	}

	textarea {
		flex-grow: 1;
		height: 12rem;
		font-size: 2rem;
	}
}
