@use "../../global";

.DisplayCard_container {
	padding: global.$panel-padding;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: global.$panel-padding;
}

.DisplayCard_headingContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		border: none;
		background: none;
	}
}

.DisplayCard_labels {
	display: flex;
	gap: global.$general-padding;

	.DisplayCard_label {
		background-color: global.$color-green;
		color: global.$color-white;
		border-radius: global.$border-radius;
		font-size: global.$text-small;
		font-family: global.$font-primary-light;
		padding: 0.5 * global.$general-padding global.$general-padding;
	}
}

.DisplayCard_buttonContainer {
	display: flex;
	justify-content: flex-end;
}

.DisplayCard_link {
	min-height: 0;
}

.DisplayCard_cross {
	&:hover {
		background-color: global.$color-green;
		color: global.$color-white;
		border-radius: 50%;
	}
}
