# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

architecture/c4-model/.structurizr/*
3.0.0.tar.gz
adr-tools-3.0.0/*

#Test Coverage Reports
coverage

# workspace target
target

# Python
__pycache__
