.CreateModelView_fullCanvas {
	height: 100%;
	width: 100%;
	float: left;
}

.CreateModelView_smallCanvas {
	height: 100%;
	width: 75%;
	float: left;
}

.CreateModelView_sideMenu {
	height: 100%;
	width: 25%;
	float: right;
}
