@use "../../../../../global";

.ElementMenuItem_item {
	position: relative;
	padding: global.$general-padding;
	cursor: default;
	user-select: none;

	&:hover {
		color: global.$color-white;
		background-color: global.$color-dark-green;
	}
}

.ElementMenuItem_hoverDescription {
	max-height: 225px;
	position: absolute;
	top: 50%;
	left: calc(100% + 20px);
	padding: global.$panel-padding;
	width: 100%;
	background-color: global.$color-white;
	transform: translateY(-50%);

	overflow-y: auto;
}

.ElementMenuItem_hoverDescriptionTriangle {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	border-top: 10px solid blue;
	border-bottom: 10px solid red;
	border-right: 20px solid green;
}
