@use "../../../../../global";

.ElementMenuItem_container {
	display: flex;
	flex-direction: row;
	cursor: default;
}

.ElementMenuItem_item {
	padding: global.$general-padding;
	cursor: default;
	width: 100%;

	&__hovered {
		color: global.$color-white;
		background-color: global.$color-dark-green;
	}
}

.ElementMenuItem_hoverDescription {
	width: 50%;
	padding: global.$panel-padding;
	background-color: global.$color-white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-y: auto;
}

.ElementMenuItem_hoverDescriptionTriangle {
	height: 0;
	left: -20px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 20px solid global.$color-white;
}
