@use "../../../global";

.ProjectName_input {
  background-color: global.$color-grey-1;
  width: calc(100% - 2 * #{global.$panel-padding});
  height: 35.58px;
  margin-top: 5px;
  border: 2px solid global.$color-grey-2;
  border-radius: 4px;
  padding-left: 0.5 * global.$panel-padding;
}