.LandingView_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.LandingView_containerRow {
  display: flex;
  gap: 40px;
}

.LandingPageView_gridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.LandingPageView_gridRow1 {
  display: flex;
  grid-row: 1;
  align-items: center;
}

.LandingPageView_gridRow2 {
  display: flex;
  grid-row: 2;
  align-items: center;
}

.LandingPageView_gridRow3 {
  display: flex;
  grid-row: 3;
  align-items: center;
}

.LandingPageView_gridRow4 {
  display: flex;
  grid-row: 4;
  align-items: center;
}
.LandingPageView_gridRow5 {
  display: flex;
  grid-row: 5;
  align-items: center;
}