.LandingPage_gridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.LandingPage_gridRow1 {
  display: flex;
  grid-row: 1;
  align-items: center;
}

.LandingPage_gridRow2 {
  display: flex;
  grid-row: 2;
  align-items: center;
}

.LandingPage_gridRow3 {
  display: flex;
  grid-row: 3;
  align-items: center;
}