@use "../../../../global";

.DataSetupView_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: global.$general-padding;
  height: 100%;

  .DataSetupView_leftContainer{
    display: flex;
    flex-direction: column;
    gap: global.$general-padding;
  }

  .DataSetupView_rightContainer{
    display: flex;
    flex-direction: column;
    gap: global.$general-padding;
  }

}