.FileTable_container {
  width: 100%;
  table-layout: fixed; // This makes the table respect the set widths
  font-size: x-large;

  img {
    width: 50px;
    height: 25px;
  }

  th, td {
    text-align: center;
    white-space: nowrap;
  }

  .FileTable_nameColumn {
    width: 70%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .FileTable_smallColumn {
    width: 10%;
  }
}

