.ExampleProject_container {
  //width: 25%;
  padding: 40px;

  .ExampleProject_projectPanel {
    width: 40%;
    height: 30%;
  }

  .ExampleProject_buttonContainer{
    width: 40%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
}
