@use "../../../global";

.LandingPageHeader_container {
  display: grid;
  //grid-template-rows: 1fr 1fr;
  //gap: 10px;
  //height: 200px; /* optional: set a fixed height for the container */
}

.LandingPageHeader_topLeft {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 74px;
}

.LandingPageHeader_bottomRight {
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 48px;
}

.LandingPageHeader_verticalContainer {
  display: flex;
  flex-direction: column;
}

.LandingPageHeader_openPopupButton {
  z-index: 100;
  position: fixed;
  top: 126px;
  right: global.$content-padding;
}

.LandingPageHeader_popup {
  position: fixed;
  top: 162px;
  right: global.$content-padding;
  z-index: 100;
}

.LandingPageHeader_backDrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 0;
}