@use "../../../global";

.LandingPageHeader_gridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.LandingPageHeader_gridRow1 {
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.LandingPageHeader_gridRow2 {
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.LandingPageHeader_gridRow3 {
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.LandingPageHeader_backDrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.LandingPageHeader_popupContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}
