@use "../../global";

.Header_contentContainer--with-btns {
	//background-color: blue;
	$left-offset: global.$sidebar-width + 2 * global.$nav-padding; /* This is the width of the sidebar with padding */

	position: fixed; /* Fixed position will make the header stick to the top */
	top: 0;
	left: $left-offset; /* This should be the same as the width of the sidebar */
	height: global.$header-height;
	padding: global.$content-padding;
	width: calc(100% - #{$left-offset} - 2 * #{global.$content-padding}); /* Subtract sidebar width and padding */
	z-index: 1;
	display: flex;
	flex-direction: column;

	.Header_btnContainer {
		display: flex;
		justify-content: flex-end;
	}
}

.Header_contentContainer--no-btns {
	@extend .Header_contentContainer--with-btns;
	padding: global.$content-padding global.$content-padding 0;
}
