@use "../../global";

.header_container {
	$left-offset: global.$sidebar-width + 2 * global.$nav-padding; /* This is the width of the sidebar with padding */

	position: fixed;
	top: 0;
	left: $left-offset;
	width: calc(100% - #{$left-offset} - 2 * #{global.$panel-padding}); /* Subtract sidebar width and padding */
	z-index: 1;
	padding: global.$panel-padding;
}
