@use "../../global";

.DataHub_bodyContainer {
  display: grid;
  grid-template-rows: 50px;
  gap: global.$general-padding;
}

.DataHub_bodyRow1 {
  grid-row: 1;
}

.DataHub_bodyRow2 {
  grid-row: 2;
}