@use "../../../../../global";

.ImportDataView_container {
	padding: global.$content-padding;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2 * global.$general-padding;

	.ImportDataView_btnContainer {
		display: flex;
		flex-direction: column;
		gap: global.$general-padding;

		.ImportDataView_btn {
			width: 50%;
		}
	}
}

.ImportDataView_dataTypeContainer {
	display: flex;
	gap: 20px;
}
