@use "src/global";

.NavSection_container {
  margin-top: 20px;

  &:first-of-type {
    margin-top: initial;
  }

  $general-padding: 15px;

  .NavSection_content {
    width: global.$sidebar-width + global.$nav-padding;
    font-family: global.$font-primary;
    border-radius: 4px 0 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .NavSection_heading {
      background-color: global.$color-dark-green;
      padding: $general-padding;
    }

    .NavSection_navLinks {
      padding-left: $general-padding;
    }
  }
}