@use "../../global";

.footer-content-container {
  $left-offset: global.$sidebar-width + 2 * global.$nav-padding; /* This is the width of the sidebar with padding */

  position: fixed; /* Fixed position will make the footer stick to the bottom */
  bottom: 0;
  left: $left-offset; /* This should be the same as the width of the sidebar */
  min-height: global.$footer-height; /* Adjust this value to fit your design */
  width: calc(100% - #{$left-offset} - 2 * #{global.$content-padding}); /* Subtract sidebar width and padding */
  padding: global.$content-padding;
  z-index: 0;
  display: flex;
}

.Footer-both{
  justify-content: space-between;
}

.Footer-prev-only{
  justify-content: flex-start;
}

.Footer-next-only{
  justify-content: flex-end;
}

.Footer-btn {
  width: 200px;
  height: 48px;
  border-radius: 4px;
}