@use "../../global";

.PageTabs_container{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10%;

  .PageTabs_tab{
    display: flex;
    height: calc(100% - 2*#{global.$general-padding});
    gap: global.$general-padding;
    padding: global.$general-padding;

    .PageTabs_numCircle{
      background-color: global.$color-grey-5;
      color: global.$color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      min-width: 30px;
      height: 100%;
      aspect-ratio: 1;
    }

    .PageTabs_tabLabel{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &___active{
      color: global.$color-light-green;
      .PageTabs_numCircle{
        background-color: global.$color-light-green;
      }
    }
  }
}




