/******************************

SCSS Global Theme Variables

******************************/


/* -- Colors -- */
$color-dark-green: #18646B; // dark primary (for hovers)
$color-green: #1C757D; //primary color

$color-dark-light-green: #23798C; //(for hovers)
$color-light-green: #257F93;

$color-white: #ffffff; //mostly for panels
$color-grey-1: #F0F5F9; //mostly for background
$color-grey-2: #EFEFEF; //mostly for hover over color-grey-1
$color-grey-3: #CED0D3; //mostly for boundaries
$color-grey-4: #97999C; //for light text
$color-grey-5: #5F6267; //mostly for text
$color-grey-6: #3E434A; //for nav bar

$color-dark-blue: #222831; //mostly for nav-bar (secondary color)
$color-bright-blue: #0072bd; //mostly for waveforms
$color-light-blue: #D8EEF2; //for network PageTabs


/* -- Font Families -- */
@font-face {
  font-family: "Roboto Light";
  src: url("./assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

$font-brand: "Outfit", "Arial", "serif";
$font-primary-light: "Roboto Light", "Helvetica", "sans-serif";
$font-primary: "Roboto Medium", "Helvetica", "sans-serif";
$font-primary-bold: "Roboto Bold", "Helvetica", "sans-serif";

/* -- Font Sizes -- */
$text-xsmall: 12px;
$text-small: 14px;
$text-regular: 16px;
$text-large: 18px;
$text-xlarge: 22px;
$text-xxlarge: 26px;
$text-brand: 48px;

/* -- General spacings -- */
$panel-padding: 20px;
$content-padding: 40px;
$nav-padding: 20px;
$general-padding: 10px;

/* -- Widths -- */
$sidebar-width: 260px;

/* -- Heights -- */
$header-height: 100px;
$footer-height: 50px;
$panel-header-height: 50px;
$btn-height: 48px;


/* -- Borders -- */
$border-radius: 4px;






