@use "global";

body {
	margin: 0;
	padding: 0;
	background: global.$color-grey-1;
}

a {
	/*To disable the default link look & feel behaviour of the browser, because its desktop app */
	text-decoration: none !important;
	color: inherit !important;
}

#root {
	height: 100%;
}
