@use "../../../../../global";

.CustomNode {
  background: global.$color-grey-3;
  border: 1px solid black;
  border-radius: 4px;
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}