@use "../../global";

.DisplayPanel_container {
  display: flex;
  flex-direction: column;
}

.DisplayPanel_heading {
  padding: global.$panel-padding;
  border-bottom: 2px solid global.$color-grey-1;
}

.DisplayPanel_body {
  flex-grow: 1;
  padding: global.$panel-padding;
}