@use "../../../../global";

.ExampleProject_container {
  padding: global.$panel-padding;

  .ExampleProject_projectPanel {
    width: 100%;
    min-width: 400px;
    height: 30%;
  }

  .ExampleProject_buttonContainer{
    width: 40%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
}
