@use "../../../../global";

.ProjectCard_container {
  width: 600px;
  padding: global.$content-padding;
  display: flex;
  flex-direction: column;
  gap: global.$panel-padding;
}

.ProjectCard_labels {
  display: flex;
  gap: global.$general-padding;

  label {
    height: 10px;
  }
}

.ProjectCard_button {
  display: flex;
  justify-content: flex-end;

  button {
    width: 164px;
    height: 48px;
  }
}