.ProjectCard_container {
  width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ProjectCard_labels {
  display: flex;
  gap: 10px;

  label {
    height: 10px;
  }
}

.ProjectCard_button {
  display: flex;
  justify-content: flex-end;

  button {
    width: 164px;
    height: 48px;
  }
}