@use "../../../../../../global";

.NewProjectPopup_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: global.$panel-padding;
	gap: global.$general-padding;
	width: 315px;

	.NewProjectPopup_btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: global.$general-padding;
		border: solid 1px global.$color-grey-3;
		text-align: left;

		&:hover {
			background-color: global.$color-grey-2;
		}
	}
}
